@charset "UTF-8";
/*------------------------------------*\
 

 *
 */





.cabecera {

  background-color: #fafafa;
  text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}



.cabecera img {
  max-width: 60px;
}



.margin-botton-login{
  margin-bottom: 15px;
}



.bloquepost {

  margin:0;
  height: 460px;
  background-image: url(../img/imgpost.jpg);
  background-repeat: no-repeat;
  display: block;
}



.title_post {
  padding:15px;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}



.subtitle_post {
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 35px;
  font-size: 1rem;
  line-height: 1.3;
  font-weight:lighter;
  text-align: justify;
}



.cta {
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  display:block;
  border-top:4px solid black;

}



.bloquefooter{
  width: 100%;
  height: 50px;
  display: block;
  clear: both;
  background-color: black;
  position:fixed;
}



.max-width-register{
  width: 250px;
}



@media screen and (min-width: 620px){

html {
  background-image: url(../img/fondo.jpg)!important;
}

.cabecera img {
max-width: 100px;
}



.cabecera {
    padding-top:10px;
    padding-bottom: 10px;
}

.bloquepost {
  background-color: white !important;
  margin-left: auto;
  margin-right: auto;
-webkit-box-shadow: 0.5px 0.5px 20px 0px rgba(194,186,194,0.79);
-moz-box-shadow: 0.5px 0.5px 20px 0px rgba(194,186,194,0.79);
box-shadow: 0.5px 0.5px 20px 0px rgba(194,186,194,0.79);
max-width: 400px;
height: 610px;
display:block;
margin-top:100px;

}

 .btn-register-facebook{

  width: 250px; 
  text-align: center;


}
.subtitle_post {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 30px;
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight:lighter;
  text-align: justify;
}

.title_post_h1 {
  padding: 30px;
}

.cta p {
  padding-top: 20px;
  font-size: 1.2em;

}

.max-width-register {
  width: 300px;
}


.margin-botton-login{
  margin-bottom: 50px;
}


.padding-top {
  padding-top: 20px;
}
}





